#profileImg .img{
    border: 1px solid black;
    border-radius: 50%;

    box-shadow: 0px 10px 10px rgb(49, 47, 47);
    background: rgb(from color r g b);
     
}
#raj{
    color: darkblue;
}

#imgModal{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#modalImg{
    background-image: url(https://t4.ftcdn.net/jpg/04/96/44/35/360_F_496443587_rE7ZXJBTL0CZfLtRWYpAAzf0DidaWaQj.jpg);
}
#Perent{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
#homeS a:hover{
    border-bottom: 1px solid black;
    color: blue;
}
#eduLogo{
    margin: auto;
    border: 2px solid white;
    border-radius: 50%;
}
#proModal{
    
}





