
{% extends 'base.html' %}
{% load static %}



{% block content %}

<style>

.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#resume_btn{
  /* box-shadow: 8px 8px 18px 0px rgb(177, 177, 245);
} */

</style>

    <section>
        <!-- <div >
            <video autoplay loop width="40%" src="{% static 'video/video1.mp4' %}"></video>
        </div> -->

        <div align="center" style="margin: 3%;z-index: -2;border: 2px solid black;" >
            <!-- <h1 style="color: green;margin-bottom: 4%;" >Wellcome To The Portfolio World</h1> -->

            <a href="https://codepen.io/uiswarup/full/wvjZgar" target="_blank" >
                <div class="container" style="margin-bottom: 20px;">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <b style="font-size: 200%;margin-top: 20px;" class="animate-charcter"> Wellcome To The Portfolio World </b>
                    </div>
                  </div>
                </div>
            </a>



            <video width="80px" class="w-100" autoplay loop muted>
                <source  src="{% static 'video/video1.mp4' %}" type="video/mp4" />
               
            </video>

        </div>

        <a style="text-decoration: none;" href="#">
          <div id="resume_btn" style="margin-bottom: 3%; " class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-warning" type="button">Build My Resume</button>    
          </div>  
        </a>

        <!-- <h1 style="color: black;">Rahul</h1> -->









        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    </section>

{% endblock %}
