
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section>
        <!-- <div >
            <video autoplay loop width="40%" src="{% static 'video/video1.mp4' %}"></video>
        </div> -->

        <div align="center" style="margin: 4%;z-index: -2;" >
            <h1 style="color: green;margin-bottom: 4%;" >Wellcome To The Portfolio World</h1>
            <video width="80px" class="w-100" autoplay loop muted>
                <source  src="{% static 'video/video1.mp4' %}" type="video/mp4" />
                <h1>Rahul</h1>
            </video>

            <div style="z-index: 10;">
                
            </div>
        </div>

    </section>

{% endblock %}
